<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="${applicationId}.permission.INTERNAL"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.INTERNAL" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:label="Ayloo Keyboard Beta"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Ayloo">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".AylooInputMethodService"
            android:exported="true"
            android:label="Ayloo Keyboard Beta"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        <activity android:name=".PermissionActivity" android:exported="false" android:theme="@style/Theme.Ayloo.Transparent" />
    </application>
</manifest>
